{% extends 'base.html' %}
{% load i18n %}{% load bootstrap4 %}


{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}{% trans "Signin" %}{% endblock %}
{% block content %}
<h1 class="text-center">Sign in</h1>
<form class="form w-50 m-auto" action="" method="post">
  {% csrf_token %}
  
  {% bootstrap_form form %}
    
    
  {%buttons%}
  <input class="btn btn-primary" type="submit" value="{% trans 'Signin' %}" />
  {%endbuttons%}
  <p class="forgot-password"><a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a></p>
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>
{% endblock %}
